<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sNServiceSection" type="IKende.com.SNService.SNServiceSection, IKende.com.SNService"/>
    <section name="serverSection" type="Beetle.Express.ServerSection, Beetle.Express"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <sNServiceSection xmlns="urn:IKende.com.SNService">
    <sequence start="1" step="1"/>
  </sNServiceSection>
  <serverSection xmlns="urn:Beetle.Express">
    <listens>
      <add name="SN_SERVER" type="TCP" port="8088" handler="IKende.com.SNService.SNServer,IKende.com.SNService" syncSend="true" useReceiveQueue="false" useSendQueue="false"/>
    </listens>
  </serverSection>
  <log4net>
      <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        <header value="[Begin========================= %date===========================%newline" type="log4net.Util.PatternString"/>
        <footer value="[End  ========================= %date===========================%newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %-5level  %message"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
